@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-color: #e69579;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: white;
    padding: 25px;
    box-shadow: 0px 0px 10px #515151;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

nav{
    display: flex;
    gap: 30px;
}

img {
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #515151;
}

section{
    display: flex;
    width: 40%;
    margin-top: 70px;
    margin-bottom: 70px;
}

h1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 40px;
    transition: transform 0.5s ease;
    font-family: 'Courgette', cursive;
}

h1:hover{
    transform: scale(1.1,1.1);
}

#titulo{
    width:100%;
    display:flex;
    justify-content:center;
    margin-bottom: 50px;
}

.produtos{
    width: 230px;
}

.produtos > p{
    font-weight: 900;
    text-align: justify;
}

#produtos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: #c36444;
    box-shadow: 0px 0px 10px #515151;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    row-gap: 20px;
}

footer > p{
    display: flex;
    text-align: center;
}

.icone {
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

#lotus{
    height: 20px;
    box-shadow: none;
}

#logo{
    display: flex;
    align-items: center;
}

#logo > p {
    font-size: 20px;
    font-family: 'Courgette', cursive;
    align-items: center;
    justify-content: center;
}

